* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-container {
    background-color: #1f2937;
    height: 100vh;
}

.main-header {
    display: flex;
    justify-content: space-around;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    padding: 20px
}

nav li {
    display: inline-block;
    padding: 20px;
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}




